<p id="notice"><%= notice %></p>

<h1 class = 'headline'>Articles</h1>


<div class = 'content'>
  <ul>
    <% @articles.each do |article| %>
      <li><%= link_to article.title, article %></li>
    <% end %>
    <br>
    <% if session[:author_id] %>
      <li><%= link_to 'New Article', new_article_path %></li>
    <% else %>
      <li><%= link_to'You must be logged in to create new article', '/login'%></li>
    <% end %>
  </ul>
</div>
