<div id = 'left_menu'>
  <h4>Houses</h4>
  <ul>
    <% @houses.each do |house| %>
    <li><a href = '#'><%= house.house_name.capitalize %></a></li>
    <% end %>
  </ul>
  <h4>Categories</h4>
    <ul>
    <% @categories.each do |category| %>
    <li><a href = '#'><%= category.type_name.capitalize %></a></li>
    <% end %>
  </ul>
</div>
