<p id="notice"><%= notice %></p>

<h1>The Spokes on the Wheel</h1>

<table>
  <thead>
    <tr>
      <th>House name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @houses.each do |house| %>
      <tr>
        <td><%= link_to house.house_name.capitalize, house %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New House', new_house_path %>
