/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#welcome_headline {
  text-align: center;
  padding-top: 75px;
}
#left_menu {
  float: left;
  margin-left: 0;
  margin-top: 0;
  width: 100px;
  height: 1000px;
  text-align: left;
  border-right: solid 1px #000000;
  padding-top: 100px;
}

img {
  max-height: 350px;
  max-width: 350px;
  float: right;
}

ul.menu {
  list-style: none;
}

#left_menu li {
  margin-left: -40px;
}
